{% extends "layout.html" %}

{% block body %}
    <h1>Digit Recognition</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <p id="head">Click to draw Double Click anywhere to Clear</p>

                    <h3 id="toggle">Draw OFF</h3>

                    <canvas id="canvas" width="500" height="500" style="border:1px solid black;"></canvas>
                    <img id="img" alt="Image">
                    <p>
                        <span id="link">Click Generate Link after drawing Digit </span>
                        <button id="save">Generate Link</button>
                        <button id="clear">Clear</button>
                    </p>
                </td>
                <td>
                    Results:
                    <ul id="results"></ul>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='editor.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}