
<div id="header">
  <div class="clearer">&nbsp;</div>
  <div id="site-title">
    <h1><a [routerLink]="['/articles']">Simple Magazine</a> <span> / News Project</span></h1>
  </div>
  <div id="navigation">
    <div id="main-nav">
      <ul class="tabbed">
        <li *ngFor="let category of categories">
          <a [routerLink]="['/articles']" [queryParams]="{ category_id: category.id }">
            {{category.name}}
          </a>
        </li>
      </ul>
      <div class="clearer">&nbsp;</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>